/* Estilo del ítem del carrito */
.item-de-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    /* Ocupa el ancho completo */
    max-width: 100vw;
    /* Asegura que no exceda el ancho de la pantalla */
    border: 1px solid #ddd;
    /* Borde sutil */
    border-radius: 8px;
    background-color: #fff;
    /* Fondo blanco para el ítem */
    padding: 1rem;
    margin: 1rem 4rem;
    /* Espaciado entre los ítems en vertical */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    box-sizing: border-box;
    /* Incluye padding y border en el cálculo del ancho */
}

/* Estilo del contenedor de detalles del ítem del carrito */
.cartItem-Detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* Ocupa el ancho completo del ítem */
    margin-bottom: 1rem;
    text-align: center ;
}

.datos-del-producto {

    width: 60%;

}

.datos-del-producto p {

    font-weight: 500;
    margin: 0.5rem 0;
    font-size: 1.3rem;
    text-align: center;
}



/* Estilo de la imagen del producto */
.imagen-del-carrito {
    width: 100%;
    /* Ocupa el ancho completo del contenedor */
    margin-left: 50px;
    max-width: 200px;
    /* Ancho máximo para no hacer la imagen demasiado grande */
    height: auto;
    /* Mantiene la proporción de la imagen */
    object-fit: cover;
    border: 1px solid #ddd;
    /* Borde sutil */
    border-radius: 8px;
    /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

/* Estilo de los botones de cantidad */
.cartItem-Detail button {

    border: 1px solid #2698f2;
    border-radius: 5px;

    color: #2698f2;
    padding: 8px;

    margin: 0 4px;
    /* Espaciado entre botones */
    cursor: pointer;
    transition: background-color 0.3s;
}

.cartItem-Detail button:hover {
    background-color: #1e80c3;
    /* Azul ligeramente más oscuro */
    color: white;
}

/* Estilo de los detalles de precio y cantidad */


.cartItem-Detail div {
    margin-bottom: 1rem;
}