/* Tarjeta del producto */
.prod-card {
    width: 350px;
    height: 500px;
    border: 2px solid #BDD5EA;
    /* Borde rosa suave */
    border-top: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
    padding: 1rem;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;


}

/* Imagen del producto */
.foto-del-producto {
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 8px 8px 0 0;

}

/* Nombre del producto */
.nombre-de-producto {
    font-size: 1rem;

    font-weight: bold;
    color: #333;
    margin: 0.5rem 0;
}

/* Precio del producto */
.prod-card p {
    font-size: 1rem;
    font-weight: 100;
    color: #555;
    /* Color rosa intenso */

}

/* Categoría del producto */

/* Efecto hover en la tarjeta */
.prod-card-container:hover .prod-card {
    background-color: rgb(143, 152, 161);

}

.prod-card-container:hover .prod-card p,
.prod-card-container:hover .prod-card h2 {
    color: white;
}


/* Link del producto sin subrayado */
.prod-card-container {
    text-decoration: none;
    color: inherit;
}