.slider-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    height: 2rem;
    overflow: hidden;
    background-color: #181818c4
}

.slider-container.background {
    max-width: 100%;

}

.slider {
    display: flex;
    transition: none;
}

.transition {
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.slide span {
    font-size: 1rem;
    color: #ffffff;
}