/* Contenedor del contador */
.item-count-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 100;
}

/* Botones de sumar y restar */
.btn-count {
    background-color: #F7F7FF;
    /* Color primario de la paleta */
    color: #2698f2;
   
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 4px;
    /* Borde menos redondeado */
    font-size: 1rem;
    /* Tamaño de fuente reducido */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-count:hover {
    background-color: #495867;
    /* Color secundario de la paleta */
    color: F7F7FF;
}

/* Visualización del contador */
.count-display {
    font-size: 1rem;
    /* Tamaño de fuente reducido */
    font-weight: bold;
    color: #577399;
    background-color: #F7F7FF;
    /* Color de fondo más claro */
    border: 1px solid #577399;
    border-radius: 5px;
    padding: 8px 50px;
    top: 0;
}


/* Botón de agregar al carrito */
.btn-add-cart {
    background-color: #2698f2;
    /* Nuevo color para el botón */
    color: white;
    padding: 8px 16px;
    /* Tamaño reducido del padding */
    border: none;
    border-radius: 5px;
    /* Borde menos redondeado */
    font-size: 1rem;
    /* Tamaño de fuente reducido */
    cursor: pointer;
    transition: background-color 0.3s;

    margin-left: 25px;
}

.btn-add-cart:hover {
    background-color: #495867;
    /* Color ligeramente más oscuro para el hover */
}